<div class="main-content">
    <div class="header-content">
        <div class="emp-detal-text">
        Employee Details<div class="emp-count">10</div>
    </div>
        <a href="https://www.youtube.com/watch?v=znNk2RmUlFI" class="add-button" >
        <img src="" alt="">Add User</a>
    </div>
    <table id="display" class="table">
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Department</th>
            <th>Salary</th>
            <th>StartDate</th>
            <th>Action</th>
        </tr>
        <tr>
            
        </tr>
    </table>
</div>